/* Variables */
:root {
  --primary: #1a1a1a;
  --secondary: #fff;
  --menu: #222222;
}

/* Global styles */
a{
  text-decoration: none;
}
.noscroll{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Navbar styles */
#navbar {
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  height: 80px;
  background-color: var(--primary);
  z-index: 999;
  -webkit-box-shadow: 0px 0px 0px 0px 0;
          box-shadow: 0px 0px 0px 0px 0;
  -webkit-transition: -webkit-box-shadow 200ms ease-in;
  transition: -webkit-box-shadow 200ms ease-in;
  -o-transition: box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in, -webkit-box-shadow 200ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}
.navbar-hide{
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
#logo-container{
  z-index: 999;
}

.navbar-shadow {
  -webkit-box-shadow: 0px 10px 14px -10px #505050;
          box-shadow: 0px 10px 14px -10px #505050;
}

#nav-logo {
  z-index: 999;
  cursor: pointer;
  color: var(--secondary);
}

#nav-links-container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: var(--primary);
  background-color: var(--menu);
  position: absolute;
  top: 1rem;
  right: 0;
  z-index: 999;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100dvh;
  height: 100dvh;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateY(-1rem) translateX(100%);
      -ms-transform: translateY(-1rem) translateX(100%);
          transform: translateY(-1rem) translateX(100%);
}
.open{
  -webkit-transform: translateY(-1rem) translateX(0%) !important;
      -ms-transform: translateY(-1rem) translateX(0%) !important;
          transform: translateY(-1rem) translateX(0%) !important;
}
.nav-link-text{
  color: var(--secondary);
}

.menu-icon {
  font-size: 30px;
  color: var(--secondary);
  cursor: pointer;
}

/* Menu icon styles */
#menu-icons {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Search bar styles */
.search-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  -webkit-transition: border-radius 200ms ease-in,-webkit-transform 200ms ease-in;
  transition: border-radius 200ms ease-in,-webkit-transform 200ms ease-in;
  -o-transition: transform 200ms ease-in,border-radius 200ms ease-in;
  transition: transform 200ms ease-in,border-radius 200ms ease-in;
  transition: transform 200ms ease-in,border-radius 200ms ease-in,-webkit-transform 200ms ease-in;
  width: 100vw;
  height:calc(100vh - 80px) ;
  top: 80px;
  right: 50%;
  -webkit-transform: translateX(50%) scale(0);
      -ms-transform: translateX(50%) scale(0);
          transform: translateX(50%) scale(0);
  background-color: rgba(0, 0, 0, 0.295);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
#search-close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 30px;
  color: #f0f0f0;
  border-radius: 5rem;
  background-color: var(--primary);
}
.focus{
  scale: 1;
  border-radius: 0;
  -webkit-transform: translateX(50%) scale(1);
      -ms-transform: translateX(50%) scale(1);
          transform: translateX(50%) scale(1);
}

.search-input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#search-input {
  outline: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 90%;
  max-width: 100%;
}

.search-icon {
  position: absolute;
  right: 0px;
  cursor: pointer;
  height: 100%;
  width: 10%;
  background-color: var(--primary);
}

.search-icon-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}

#suggestion-box li {
  padding: 10px;
  cursor: pointer;
}

#suggestion-box li:hover {
  background-color: #f0f0f0;
}

/* Hamburger button styles */
#hamburger-btn {
  z-index: 999;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: var(--secondary);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#cart{
  position: relative;
}
#cart-item-count{
  display: block;
  position: absolute;
  font-size: 13px;
  text-align: center;
  top: -4px;
  right: -7px;
  background-color: #f0f0f0;
  padding: 0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
}
#hamburger-btn span:nth-child(1) {
  top: 0px;
}

#hamburger-btn span:nth-child(2) {
  top: 10px;
}

#hamburger-btn span:nth-child(3) {
  top: 20px;
}

#hamburger-btn.btn-open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
      transform: rotate(135deg);
}

#hamburger-btn.btn-open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#hamburger-btn.btn-open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
      transform: rotate(-135deg);
}

/* Media queries */
@media only screen and (min-width: 972px) {
  #navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #hamburger-btn {
    display: none;
  }

  #nav-links-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    z-index: 99;
    width: 60%;
    max-width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
}