#video-player{
    margin: .1rem 0;
    position: relative;
}
#video-player video{
    object-fit: cover;
}
.heading{
    margin: .5em 0;
    color: #404040;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    z-index: 10;
}
.heading::before,.heading::after{
    content: '';
    position: absolute;
    background: #f4f4f4;
    width: 40vw;
    height: 2px;
    top: 50%;
    z-index: -1;
}
.heading::before{
    left: 0;
    transform: translateX(0%);
}
.heading::after{
    right: 0;
    transform: translateX(0%);
}
#video-player::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}