#video-player{
    margin: .1rem 0;
    position: relative;
}
#video-player video{
    object-fit: cover;
}
#video-player::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}