#product-container{
    width: 100%;
    padding: 1rem;
    
}
#product-container>.product-header{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}
.product-internal-container{
    padding: 1rem !important;
    width: 100%;
    padding: 1rem 0;
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}
#product-container>.product-gallery-btns{
    width: 100%;
    max-width: 430px;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.product-internal-container::-webkit-scrollbar {
    background: transparent;
}
.product-container-btn{
    margin: 0 1rem;
    background-color: #f0f0f0;
    color: #252525;
    padding: .2rem .5rem;
    border: 0;
    border-radius: .2rem;
    cursor: pointer;
    transition: color 200ms ease-in,background-color 200ms ease-in;
}
.product-container-btn:hover{
    background-color: black;
    color: #fff;
    border: 0;
    border-radius: .4rem;
}
.product-container-btn.selected{
    background-color: black;
    color: #fff;
}
@media only screen and (min-width: 600px) {
    .product-internal-container{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-gap: 2rem;
    }

}

@media only screen and (min-width: 1200px) {
    .product-internal-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }
}