body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
span.devider{
  display: block;
  width: 90%;
  margin: 2rem auto;
  height: 2px;
  background-color: #f6f6f6;
}
ul{
  text-decoration: none;
}