
.product-card{
    max-width: 350px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: box-shadow 200ms ease-in,
                transform 200ms ease-in;
}
.product-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1.01);
}
.product-img-container{
    position: relative;
    height: fit-content;
}
.product-img-container .price{
    position: absolute;
    bottom: 6px;
    right: 0;
    border-radius: 1rem;
    background-color: #141414;
    color: white;
    padding: .1em 1em;
    border-radius: .1em;
}
.product-img-container .product-img{
    width: 100%;
    aspect-ratio: 1.5 / 1;
    object-fit: cover;
}
.product-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
    padding: .5em;
}
.product-content > *{
    display: block;
}
.product-content .title{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.1;
    text-align: left;
    height: 50px;
    overflow: hidden;
}
.product-content .product-btn{
    border-radius: .1em;
    border: none;
    cursor: pointer;
    color: #141414;
    background-color: #dcdcdc;
    font-size: 1.2rem;
    line-height: 1;
    padding: .2em 1em;
    transition: all ease-in 200ms;
}
.product-content .product-btn:hover{
    color: #f4f4f4;
    background-color: #141414;
}