#filter-container{
    min-height: 100vh;
}
#filter-content{
    position: sticky;
    top: 80px;
    height: 400px;
    width: 200px;
}
#category-list{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: .5em;
}
.filter-category-text{
    padding: 0em .5em;
    border-radius: .2em;
    color: black;
}
.filter-category-text.active{
    background-color: black;
    color: white;
}